.app {
  text-align: center;
  background-color: #236E00;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 40vmin;

}

.logo {
  pointer-events: none;
  display: flex;
  flex-direction: row;
}

.logo img {
  margin-right: 35px;
  width: 150px;
  height: 150px;
}


.App-header em {
  color: #339C02;
}

.wavy-line-break {
  margin: 0px;
  padding: 0px;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  background-color: #FFFFFF;
}

.wavy-line-break svg {
  margin: 0px;
  padding: 0px;
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;

}

.wavy-line-break .shape-fill {
  fill: #236E00;
}

#break2 {
  background-color: #236E00;
}

#break2 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 44px;
}

#break2 .shape-fill {
  fill: #FFFFFF;
}

.benefitsGrid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  color: grey;
  background-color: white;
}

.benefitsGridItem {
  margin: 35px;
  background-color: white;
}

.benefitsGridItem img {
  width: 35px;
  height: 35px;
}

.meal-planner-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* change color of form to regular backround */
  background-color: white;

}

.scroll-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #236E00;
  border: none;
  color: white;
  font-size: 20px;
  padding-bottom: 16px;
  margin-bottom: calc(5vh);
}

.scroll-down button {
  font-size: 30px;
  background-color: #236E00;
  border: none;
  color: white;
  cursor: pointer;

}

.scroll-down button:hover {
  background-color: #FFFFFF;
  color: #236E00;
  border: #FFFFFF 1px solid;
  border-radius: 10%;
  padding: 5px;
}