.app {
  text-align: center;
  background-color: #236E00;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  display: flex;
  flex-direction: row;
}

.App-header em {
  color: #339C02;

}

.wavy-line-break {
  margin: 0px;
  padding: 0px;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  background-color: #FFFFFF;
}

.wavy-line-break svg {
  margin: 0px;
  padding: 0px;
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;

}

.wavy-line-break .shape-fill {
  fill: #236E00;
}

#break2 {
  background-color: #236E00;
}

#break2 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 44px;
}

#break2 .shape-fill {
  fill: #FFFFFF;
}



.benefitsGrid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  color: grey;
  background-color: white;
}

.benefitsGridItem {
  margin: 35px;
  background-color: white;
}

.meal-planner-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* change color of form to regular backround */
  background-color: white;

}

.App-link {
  color: #61dafb;
}